@model VitaeSystem.Models.ListasSolicitantes
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="trabajadores" class="card">

        <div id="cartaheader" class="card-header">
            Administrar Referencias del Solicitante <div id="espacio-solicitante">@foreach (var item in Model.listaReferencias){<div id="xd"><p>@item.OBsolicitante.Nombres</p></div>}</div>
        </div>

        <div id="parte-boton" class="card-body">
             <div class="row justify-content-start">
                 <div class="col" style="display:flex !important;">                    
                     <div id="botonetes">
                         
                        @foreach (var item in Model.listaReferencias)
                        {
                            @if (item.OBsolicitante.IdestadoSolicitante == 1)
                            {
                                <div id="dc">
                                    <a id="btnTrabajador" asp-action="Referencias_Detalle" asp-controller="Referencias" asp-route-idreferencia="0" class="btn"><i class="bi bi-person-plus-fill"></i> Agregar Referencias</a>
                                    <a style="margin-left: 20px" id="btnRegresar" asp-action="Index" asp-controller="Solicitante" class="btn"><i class="bi bi-box-arrow-left"></i> Regresar</a>
                                </div>
                            }
                            else if (item.OBsolicitante.IdestadoSolicitante == 2)
                            {
                                <div id="dc">
                                    <a style="margin-left: 20px" id="btnRegresar" asp-action="Aceptados" asp-controller="Solicitante" class="btn"><i class="bi bi-box-arrow-left"></i> Regresar</a>
                                </div>
                            }   
                            else if (item.OBsolicitante.IdestadoSolicitante == 3)
                            {
                                <div id="dc">
                                    <a style="margin-left: 20px" id="btnRegresar" asp-action="Rechazados" asp-controller="Solicitante" class="btn"><i class="bi bi-box-arrow-left"></i> Regresar</a>
                                </div>
                            }
                        } 

                     </div>
                 </div>
             </div>
        </div>

        <div class="card-body" style="height: 79.5vh">

            <div id="scroll" class="container">

                <div id="cuadro" class="row row-cols-2">                       
                
                @foreach (var item in Model.listaReferencias)
                {
                    
                    <div id="tarjetas-destreza" class="card">
                        <div class="card-body">

                            <div id="" class="row">

                                <div id="cajon-destreza" class="col">

                                    <ul>
                                        <li><div id="franja-destreza2"><i class="bi bi-person-circle"></i>&nbsp;</div></li>
                                        <li><div id="datos-destreza2">@item.OBsolicitante.Nombres</div></li>
                                    </ul>
                                    <ul>
                                        <li><div id="franja-destreza2"><i class="bi bi-person-badge-fill"></i>&nbsp;</div></li>
                                        <li><div id="datos-destreza2">@item.ReferentePersonal</div></li>
                                    </ul>
                                    <ul>
                                        <li><div id="franja-destreza2"><i class="bi bi-phone-fill"></i>&nbsp;</div></li>
                                        <li><div id="datos-destreza2">@item.CellRefPersonal</div></li>
                                    </ul>
                                    <ul>
                                        <li><div id="franja-destreza2"><i class="bi bi-person-badge-fill"></i>&nbsp;</div></li>
                                        <li><div id="datos-destreza2">@item.ReferenteTrabajo</div></li>
                                    </ul>
                                    <ul>
                                        <li><div id="franja-destreza2"><i class="bi bi-phone-fill"></i>&nbsp;</div></li>
                                        <li><div id="datos-destreza2">@item.CellRefTrabajo</div></li>
                                    </ul>
                                    <ul id="espacioBotonReferencia">

                                        @if (item.OBsolicitante.IdestadoSolicitante == 1)
                                        {
                                            <li><a id="editarDestreza" asp-controller="Referencias" asp-action="Referencias_Detalle" asp-route-idreferencia="@item.Idreferencias" class="btn btn-outline-warning"><i class="bi bi-arrow-up-right-circle-fill"></i> Editar Referencia</a></li>
                                        }
                                        @if (item.OBsolicitante.IdestadoSolicitante == 2)
                                        {
                                            <li><div id="editarDestreza" class="btn btn-outline-warning"><i class="bi bi-x-circle-fill"></i> No esta Editable</div></li>
                                        }
                                        @if (item.OBsolicitante.IdestadoSolicitante == 3)
                                        {
                                            <li><div id="editarDestreza" class="btn btn-outline-warning"><i class="bi bi-x-circle-fill"></i> No esta Editable</div></li>
                                        }
                                        
                                    </ul>
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                    
                }                   

                </div>

            </div>

        </div>

    </div>

